{% extends 'layout.twig' %}
{% block content %}
    {% if ticketSuccess == 1 %}
        <div class="alert alert-success">
            <button type="button" aria-hidden="true" class="close">×</button>
            <span><b> Başarılı - </b> Ticketınız açıldı. </span>
        </div>
    {% elseif ticketSuccess == -1 %}
            <div class="alert alert-warning">
                <button type="button" aria-hidden="true" class="close">×</button>
                <span><b> Hata - </b> Ticket açılırken bir sorun yaşandı. </span>
            </div>
    {% endif %}


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form method="post" action="{{ base_url('ticketac/gonder') }}" class="form-horizontal">
                    <div class="card-header card-header-text" data-background-color="rose">
                        <i class="material-icons">loyalty</i>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <label class="col-sm-2 label-on-left">Kime</label>
                            <div class="col-sm-10">
                                <div class="form-group label-floating is-empty">
                                    <select name="ticket_to" class="selectpicker" data-active-color="rose" data-style="btn btn-xs btn-primary btn-round" title="Single Select" data-size="7">
                                        <option value="0" selected>Seçiniz</option>
                                        <option disabled>Nezih Tartılacı</option>
                                        <option value="2">Alperen Uzun</option>
                                        <option value="3">Erkan Akar</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left">Konu</label>
                            <div class="col-sm-10">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                    <input name="ticket_subject" type="text" class="form-control" value="">
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left">Aciliyet</label>
                            <div class="col-sm-10">
                                <div class="form-group label-floating is-empty">
                                    <div class="radio radio-inline">
                                        <label>
                                            <input value="0" type="radio" name="ticket_priority">Normal
                                        </label>
                                    </div>
                                    <div class="radio radio-inline">
                                        <label>
                                            <input value="1" type="radio" name="ticket_priority">Biraz Önemli
                                        </label>
                                    </div>
                                    <div class="radio radio-inline">
                                        <label>
                                            <input value="2" type="radio" name="ticket_priority">Önemli
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left">İçerik</label>
                            <div class="col-sm-10">
                                <div class="form-group label-floating is-empty">
                                    <textarea name="ticket_content"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-fill btn-rose">Gönder</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'ticket_content' );
    </script>
{% endblock %}